*{
    margin: 0;
    padding:0;
    box-sizing: border-box;  
  }
  .header{
      min-height: 100vh;
      width: 100%;
      background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgba(0, 255, 191, 0.908));
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
     
  }
  #xicon{
      visibility: hidden;
  }
  nav{
      display: flex;
      justify-content: space-between;
     align-items: center;
     padding: 10px 90px;
     
    
  }
  nav.logo{
      width: 150px;
  }
  nav .logo a{
      color: white;
      text-decoration: none;
  
  
  }
  nav .nav-links{
      text-align: right
  }
  
  nav .nav-links ul li{
      display: inline-block;
      list-style: none; 
      padding-left: 20px;
      position: relative;
  }
  nav .nav-links ul li a{
      color :rgb(0, 47, 255);
      text-decoration: none;  
      
  }
  nav .nav-links ul li a:hover::after{
      width: 50px;
  }
  nav .nav-links ul li a:after{
      content: "";
      width: 0;
      height: 2px;
      background: rgb(255, 196, 0);
      display: block;
      margin: auto;
      transition: 2s;
      
  }
  #menu{
      display: none;
  }